/* CSS Document */
body{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	line-height:14px;
	color:#000;
	background-color:#FFF;
}

.clear{
	clear:both;
}

div.error{
	color:#F00;
}

input, select{
	width:90%;
}
	div.login{
		border:1px solid #999;
		border-radius:10px;
		width:800px;
		padding:0px;
		margin:auto auto;
		margin-top:100px;
		padding-bottom:30px;
	}
	
	div.login .title{
		width:800px;
		height:67px;
		border-radius:10px 10px 0px 0px;
		background-image:url(../img/menu_top.jpg);
		background-repeat:no-repeat;
		background-position:top left;
		margin-top:-2px;
		line-height:50px;
		font-family:"Times New Roman", Times, serif;
		padding-left:20px;
		color:#FFF;
		font-weight:bold;
		margin-bottom:30px;
		font-size:25px;
	}
	
		div.login .formlogin{
			width:600px;
			margin:auto auto;
			min-height:100px;
			padding:20px;
			font-size:15px;
			line-height:19px;
			border:1px solid #999;
			border-radius:10px;
		}
		
		div.login .formlogin .left{
			float:left;
			width:200px;
		}
		
			div.login .formlogin .left img{
				margin:auto auto;
				display:block;
			}
		
		div.login .formlogin .right{
			float:left;
			width:378px;
			padding:10px;
			border:1px solid #999;
			border-radius:10px;
		}